/******
*   Menu
*******/
.top-menu {
  position: fixed;
  top: 0;
  padding: 8px;
  background-color: rgb(140, 140, 140);
  width: 100%;
  border-bottom: solid 1px black;
  z-index: 1;
}

.logo {
  background: url("./logo.png");
  background-size: 60px;
  height: 60px;
  width: 60px;
  margin-bottom: -15px;
  margin-top: -15px;
}

.scrollable-menu {
  max-height: 50vh;
  overflow-y: scroll;
}

.scrollable-menu * {
  cursor: pointer;
}

.play-icon:hover .play {
  color: orange;
}

/******
*   Workout Creator
*******/
.workout-error {
  color: red;
}

/**********
*   Main
*********/
.start-workout {
  padding: 50px;
  width: fit-content;
}

.start-workout i {
  font-size: 250px;
  color: blue;
  text-shadow: 5px 0 0 red, 0 -px 0 red, 0 5px 0 red, -5px 0 0 red;
}

.start-workout h1 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.main .grid {
  margin: 20px;
}

/***********
* FinishScreen
***********/

.finish-stats {
  width: 50%;
  text-align: center;
}

.finish-links {
  text-align: left;
  font-size: 50px;
}
.finish-links > div > div {
  padding: 10px;
  color: blue;
}
.finish-links > div > div:hover {
  color: #005;
  cursor: pointer;
}

.finish-content {
  padding-top: 70px;
}

/******************
*   Section (Settings + Overview)
****************/
.section {
  border: grey solid 2px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 30px;
}

/**Title*/
.section h1 {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: auto;
  margin-bottom: 20px;
  color: darkblue;
}
.section h1:before,
.section h1:after {
  content: "";
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.section h1:after {
  margin: 0 0 0 20px;
}

.section .form {
  text-align: left;
  width: 40%;
  margin: auto;
}

.section .chart {
  width: fit-content;
  margin: auto;
  color: black;
  background-color: white;
  display: inline-block;
}

.subsection {
  border-top: grey solid 1px;
  border-bottom: grey solid 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subsection.reset {
  border-top: darkred solid 2px;
  margin-top: 10px;
}

/**Subtitle*/
.subsection h2 {
  font-size: 20px;
  color: darkblue;
  opacity: 0.75;
}

.red-section {
  border-radius: 5px;
  border: red solid 2px;
  margin: 10px;
}

.framed {
  border: black solid 0.1px;
  width: fit-content;
  padding: 5px;
  padding-right: 20px;
}

/*********
*   Image(Exercise-Form)
*********/

.exercise-image {
  overflow: hidden;
}

.exercise-image:hover .label {
  opacity: 1;
}
.exercise-image .label {
  opacity: 0;
}

/*************
*   Exercise (Darstellung z. B. Timer, Beschreibung, ...)
***********/

.timer-description {
  font-size: 75px;
  text-align: center;
}
.timer-description div {
  padding: 30px;
}

.timer-description .time {
  font-size: 100px;
}

.timer-div {
  float: left;
  height: 500px;
  width: 500px;
  margin-left: 100px;
}

.exercise-description {
  background-color: lightgrey;
  position: relative;
  margin-left: 50px;
  border-radius: 10px;
  overflow-y: scroll;
}

.pause-description,
.exercise-description {
  height: 500px;
  padding: 30px;
  float: left;
  width: calc(100% - 500px - 30%);
  text-align: center;
  font-size: 50px;
}

.pause-description .next-exercise {
  padding-top: 50px;
  font-size: 20px;
  color: #555;
}

.pause-description .next-exercise h1 {
  font-size: 50px;
}

.pause-description .next-exercise h1:hover {
  font-size: 50px;
  color: black;
  cursor: pointer;
}

.exercise-description:hover span {
  opacity: 1;
}
.exercise-description span {
  color: darkgrey;
  opacity: 0;
}

.exercise-description-text {
  border: red solid 2px;
}

.exercise-description-image {
  max-width: 100%;
  max-height: 150px;
}

.exercise-description .heading {
  font-size: 30px;
  font-weight: bold;
}

.exercise-menu {
  width: 500px;
  margin-left: 100px;
  clear: left;
  background: #eee;
  border-radius: 5px;
}

.exercise-menu * {
  margin: auto;
}

/*Image search*/
.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
}

.image-list img {
  width: 200px;
}

.workout-information {
  padding: 10px;
}
/*
  ExercisePreview
*/
.no-exercise-found {
  font-size: 20px;
}

.form-error {
  color: #a00;
  padding-left: 5px;
}

/*******
*   Exercise search / import
********/
.search-results {
  margin-top: 30px;
  font-size: 30px;
}

/******
  Settings
*******/
.file-drop {
  padding: 30px;
  border: grey dotted 2px;
  border-radius: 20px;
  margin-bottom: 10px;
}
/**********
*   Verschiedenes
********/
body {
  background-color: rgb(170, 170, 170);
}

.content {
  padding: 20px;
  padding-top: 30px;
  margin: 20px;
  margin-top: 60px;
  min-height: calc(100vh - 40px);
  border-radius: 10px;
  background-color: rgb(140, 140, 140);
  z-index: 0;
}

.title {
  margin: auto;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
}

.title .subheading {
  background-color: #eee;
  border: solid 3px grey;
  border-top: solid 3px #eee;
  border-radius: 5px;
  width: fit-content;
  display: inline-block;
  padding: 5px;
}

.title .heading {
  background-color: #eee;
  font-size: 50px;
  border: 3px grey solid;
  padding: 15px;
  margin-bottom: -3px;
}

.heading.bottom {
  margin-bottom: 0px;
}

.relative-position {
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-fixed {
  position: fixed;
  top: 0;
}

.loading-bar {
  padding: 70px;
}
